/* global reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* load font */
@font-face {
    font-family: 'berthold_akzidenz_grotesk_bRg';
    src: url('./font/berthold-akzidenz-grotesk-be-medium-webfont.woff2') format('woff2'),
         url('./font/berthold-akzidenz-grotesk-be-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* set this to the dimensions of an A4 sheet of paper */
.outer-container {
    max-width: 21cm;
    height: 100vh;
    margin: 0 auto;

    background-color: #5ebd44;
    font-family: 'berthold_akzidenz_grotesk_bRg';
    overflow: hidden;
}

.main-grid {
    display: grid;
    grid-template-rows: 50px 1fr 1fr;
    height: 100%;
}

.info-section {
    grid-row: 1;
    display: grid;
    grid-template-columns: 300px auto 300px;
    padding: 1em;

    p {
        font-size: 0.8em;
    }

    .section-left {
        grid-column: 1;
        display: flex;
        flex-direction: column;
        padding: 1em;
    }
    .section-right {
        grid-column: 3;
        display: flex;
        flex-direction: column;
        padding: 1em;
    }
}

.title-section {
    grid-row: 2;
    display: grid;
    grid-template-columns: 400px auto 300px;
    grid-template-rows: 200px;
    align-items: center;
    padding: 1em;
    height: 100%;

    .title {
        grid-column: 1;
        font-size: 10em;
        font-weight: 500;
        letter-spacing: 3px;

    }
    .subtitle {
        grid-column: 3;
        color: #dae2d2;
        display: flex;
        flex-direction: column;
        padding: 1em;
        font-size: 1.3em;
        font-weight: 100;
        justify-content: space-evenly;
        height: 150px;
        margin-top: 1em;
    }
}

.circles-grid {
    grid-row: 3;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(11, 70px);
    place-items: center;
    background-color: black;
    min-width: 23.5cm;
    position: relative;
    left: -5.25%;

    // add a pseudo element to cut off the top of the grid
    &:before {
        content: '';
        width: 100%;
        height: 20px;
        background-color: #5ebd44;
        position: absolute;
        top: 0;
    }

    .circle {
        border-radius: 50%;
        width: 65px;
        height: 65px;
        background-color: #5ebd44;
    }
}